.ship-t65xwing {
  background-image: url("../images/ship_background/t65xwing.webp");
  background-repeat: no-repeat;
  background-position: 0px -40px; }

.ship-btla4ywing {
  background-image: url("../images/ship_background/btla4ywing.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-rz1awing {
  background-image: url("../images/ship_background/rz1awing.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-tielnfighter {
  background-image: url("../images/ship_background/tielnfighter.webp");
  background-repeat: no-repeat;
  background-position: 0px -40px; }

.ship-tieadvancedx1 {
  background-image: url("../images/ship_background/tieadvancedx1.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-tieininterceptor {
  background-image: url("../images/ship_background/tieininterceptor.webp");
  background-repeat: no-repeat;
  background-position: 00px -50px; }

.ship-modifiedyt1300lightfreighter {
  background-image: url("../images/ship_background/modifiedyt1300lightfreighter.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-firesprayclasspatrolcraft {
  background-image: url("../images/ship_background/firesprayclasspatrolcraft.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-asf01bwing {
  background-image: url("../images/ship_background/asf01bwing.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-tiesabomber {
  background-image: url("../images/ship_background/tiesabomber.webp");
  background-repeat: no-repeat;
  background-position: 0px -00px; }

.ship-lambdaclasst4ashuttle {
  background-image: url("../images/ship_background/lambdaclasst4ashuttle.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-hwk290lightfreighter {
  background-image: url("../images/ship_background/hwk290lightfreighter.webp");
  background-repeat: no-repeat;
  background-position: 0px -10px; }

.ship-starviperclassattackplatform {
  background-image: url("../images/ship_background/starviperclassattackplatform.webp");
  background-repeat: no-repeat;
  background-position: 0px -50px; }

.ship-z95af4headhunter {
  background-image: url("../images/ship_background/z95af4headhunter.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-m3ainterceptor {
  background-image: url("../images/ship_background/m3ainterceptor0.webp");
  background-repeat: no-repeat;
  background-position: 0px -40px; }

.ship-yt2400lightfreighter {
  background-image: url("../images/ship_background/yt2400lightfreighter.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-yt2400lightfreighter2023 {
  background-image: url("../images/ship_background/yt2400lightfreighter.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-vt49decimator {
  background-image: url("../images/ship_background/vt49decimator0.webp");
  background-repeat: no-repeat;
  background-position: -00px -30px; }

.ship-tieddefender {
  background-image: url("../images/ship_background/tieddefender.webp");
  background-repeat: no-repeat;
  background-position: 0px -50px; }

.ship-tiephphantom {
  background-image: url("../images/ship_background/tiephphantom.webp");
  background-repeat: no-repeat;
  background-position: -10px -30px; }

.ship-aggressorassaultfighter {
  background-image: url("../images/ship_background/aggressorassaultfighter.webp");
  background-repeat: no-repeat;
  background-position: 0px -10px; }

.ship-tiefofighter {
  background-image: url("../images/ship_background/tiefofighter0.webp");
  background-repeat: no-repeat;
  background-position: 0px -40px; }

.ship-t70xwing {
  background-image: url("../images/ship_background/t70xwing0.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-tieadvancedv1 {
  background-image: url("../images/ship_background/tieadvancedv1.webp");
  background-repeat: no-repeat;
  background-position: 0px -50px; }

.ship-vcx100lightfreighter {
  background-image: url("../images/ship_background/vcx100lightfreighter.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-attackshuttle {
  background-image: url("../images/ship_background/attackshuttle0.webp");
  background-repeat: no-repeat;
  background-position: 0px -20px; }

.ship-arc170starfighter {
  background-image: url("../images/ship_background/arc170starfighter.webp");
  background-repeat: no-repeat;
  background-position: 0px -10px; }

.ship-lancerclasspursuitcraft {
  background-image: url("../images/ship_background/lancerclasspursuitcraft.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-fangfighter {
  background-image: url("../images/ship_background/fangfighter.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-upsilonclasscommandshuttle {
  background-image: url("../images/ship_background/upsilonclassshuttle.webp");
  background-repeat: no-repeat;
  background-position: 0px -25px; }

.ship-tieagaggressor {
  background-image: url("../images/ship_background/tieagaggressor.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-btls8kwing {
  background-image: url("../images/ship_background/btls8kwing.webp");
  background-repeat: no-repeat;
  background-position: -10px -10px; }

.ship-sheathipedeclassshuttle {
  background-image: url("../images/ship_background/sheathipedeclassshuttle.webp");
  background-repeat: no-repeat;
  background-position: -10px -35px; }

.ship-auzituckgunship {
  background-image: url("../images/ship_background/auzituckgunship.webp");
  background-repeat: no-repeat;
  background-position: 0px -40px; }

.ship-ut60duwing {
  background-image: url("../images/ship_background/ut60duwing.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-alphaclassstarwing {
  background-image: url("../images/ship_background/starwing.webp");
  background-repeat: no-repeat;
  background-position: 0px -20px; }

.ship-tiecapunisher {
  background-image: url("../images/ship_background/tiecapunisher.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-tieskstriker {
  background-image: url("../images/ship_background/tieskstriker.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-g1astarfighter {
  background-image: url("../images/ship_background/g1astarfighter.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-jumpmaster5000 {
  background-image: url("../images/ship_background/jumpmaster5000.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-kihraxzfighter {
  background-image: url("../images/ship_background/kihraxzfighter.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-m12lkimogilafighter {
  background-image: url("../images/ship_background/m12lkimogilafighter.webp");
  background-repeat: no-repeat;
  background-position: 0px -15px; }

.ship-customizedyt1300lightfreighter {
  background-image: url("../images/ship_background/customizedyt1300lightfreighter.webp");
  background-repeat: no-repeat;
  background-position: -20px -00px; }

.ship-modifiedtielnfighter {
  background-image: url("../images/ship_background/modifiedtielnfighter.webp");
  background-repeat: no-repeat;
  background-position: 0px -40px; }

.ship-quadrijettransferspacetug {
  background-image: url("../images/ship_background/quadrijettransferspacetug.webp");
  background-repeat: no-repeat;
  background-position: 0px -20px; }

.ship-scurrgh6bomber {
  background-image: url("../images/ship_background/scurrgh6bomber.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-yv666lightfreighter {
  background-image: url("../images/ship_background/yv666lightfreighter.webp");
  background-repeat: no-repeat;
  background-position: 0px -20px; }

.ship-tiesffighter {
  background-image: url("../images/ship_background/tiesf.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-tievnsilencer {
  background-image: url("../images/ship_background/tiesilencer.webp");
  background-repeat: no-repeat;
  background-position: 0px -50px; }

.ship-scavengedyt1300 {
  background-image: url("../images/ship_background/scavengedyt1300.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-mg100starfortress {
  background-image: url("../images/ship_background/resistancebomber.webp");
  background-repeat: no-repeat;
  background-position: 0px -15px; }

.ship-rz2awing {
  background-image: url("../images/ship_background/rz2awing.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-escapecraft {
  background-image: url("../images/ship_background/escapecraft.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-resistancetransport {
  background-image: url("../images/ship_background/resistancetransport0.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-nabooroyaln1starfighter {
  background-image: url("../images/ship_background/nabooroyaln1starfighter.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-hyenaclassdroidbomber {
  background-image: url("../images/ship_background/hyenaclassdroidbomber.webp");
  background-repeat: no-repeat;
  background-position: 0px -10px; }

.ship-delta7aethersprite {
  background-image: url("../images/ship_background/delta7aethersprite0.webp");
  background-repeat: no-repeat;
  background-position: 0px -10px; }

.ship-v19torrentstarfighter {
  background-image: url("../images/ship_background/v19torrentstarfighter.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-belbullab22starfighter {
  background-image: url("../images/ship_background/belbullab22starfighter.webp");
  background-repeat: no-repeat;
  background-position: 0px -10px; }

.ship-sithinfiltrator {
  background-image: url("../images/ship_background/sithinfiltrator0.webp");
  background-repeat: no-repeat;
  background-position: 0px -00px; }

.ship-btlbywing {
  background-image: url("../images/ship_background/btlbywing0.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-nantexclassstarfighter {
  background-image: url("../images/ship_background/nantexclassstarfighter.webp");
  background-repeat: no-repeat;
  background-position: 0px -60px; }

.ship-vultureclassdroidfighter {
  background-image: url("../images/ship_background/vultureclassdroidfighter.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-ewing {
  background-image: url("../images/ship_background/ewing0.webp");
  background-repeat: no-repeat;
  background-position: 0px -45px; }

.ship-tiereaper {
  background-image: url("../images/ship_background/tiereaper.webp");
  background-repeat: no-repeat;
  background-position: 0px -35px; }

.ship-fireball {
  background-image: url("../images/ship_background/fireball.webp");
  background-repeat: no-repeat;
  background-position: 0px -20px; }

.ship-tiebainterceptor {
  background-image: url("../images/ship_background/tiebainterceptor.webp");
  background-repeat: no-repeat;
  background-position: 0px -50px; }

.ship-resistancetransportpod {
  background-image: url("../images/ship_background/resistancetransportpod0.webp");
  background-repeat: no-repeat;
  background-position: 0px -40px; }

.ship-tierbheavy {
  background-image: url("../images/ship_background/tierbheavy.webp");
  background-repeat: no-repeat;
  background-position: 0px -40px; }

.ship-xiclasslightshuttle {
  background-image: url("../images/ship_background/xiclasslightshuttle.webp");
  background-repeat: no-repeat;
  background-position: 0px -20px; }

.ship-eta2actis {
  background-image: url("../images/ship_background/eta2actis.webp");
  background-repeat: no-repeat;
  background-position: 0px -20px; }

.ship-laatigunship {
  background-image: url("../images/ship_background/laatigunship.webp");
  background-repeat: no-repeat;
  background-position: 0px -10px; }

.ship-nimbusclassvwing {
  background-image: url("../images/ship_background/nimbusclassvwing.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-syliureclasshyperspacering {
  background-image: url("../images/ship_background/syliureclasshyperspacering.webp");
  background-repeat: no-repeat;
  background-position: 0px -60px; }

.ship-droidtrifighter {
  background-image: url("../images/ship_background/droidtrifighter.webp");
  background-repeat: no-repeat;
  background-position: 0px -30px; }

.ship-hmpdroidgunship {
  background-image: url("../images/ship_background/hmpdroidgunship.webp");
  background-repeat: no-repeat;
  background-position: 0px -20px; }

.ship-tiewiwhispermodifiedinterceptor {
  background-image: url("../images/ship_background/tiewiwhispermodifiedinterceptor.webp");
  background-repeat: no-repeat;
  background-position: 0px -40px; }

.ship-tiesebomber {
  background-image: url("../images/ship_background/tiesebomber.webp");
  background-repeat: no-repeat;
  background-position: 0px -20px; }

.ship-btanr2ywing {
  background-image: url("../images/ship_background/btanr2ywing.webp");
  background-repeat: no-repeat;
  background-position: 0px -40px; }

.ship-gauntletfighter {
  background-image: url("../images/ship_background/gauntletfighter.webp");
  background-repeat: no-repeat;
  background-position: 0px -20px; }

.ship-st70assaultship {
  background-image: url("../images/ship_background/st70assaultship.webp");
  background-repeat: no-repeat;
  background-position: 0px -10px; }

.ship-rogueclassstarfighter {
  background-image: url("../images/ship_background/rogueclassstarfighter.webp");
  background-repeat: no-repeat;
  background-position: 0px -10px; }

.ship-clonez95headhunter {
  background-image: url("../images/ship_background/clonez95headhunter.webp");
  background-repeat: no-repeat;
  background-position: 0px -20px; }

.ship-gr75mediumtransport {
  background-image: url("../images/ship_background/gr75mediumtransport.webp");
  background-repeat: no-repeat;
  background-position: 0px -0px; }

.ship-cr90corelliancorvette {
  background-image: url("../images/ship_background/cr90corelliancorvette.webp");
  background-repeat: no-repeat;
  background-position: 0px -0px; }

.ship-croccruiser {
  background-image: url("../images/ship_background/croccruiser.webp");
  background-repeat: no-repeat;
  background-position: 0px -0px; }

.ship-gozanticlasscruiser {
  background-image: url("../images/ship_background/gozanticlasscruiser.webp");
  background-repeat: no-repeat;
  background-position: 0px -0px; }

.ship-raiderclasscorvette {
  background-image: url("../images/ship_background/raiderclasscorvette.webp");
  background-repeat: no-repeat;
  background-position: 0px -0px; }

.ship-tridentclassassaultship {
  background-image: url("../images/ship_background/tridentclassassaultship.webp");
  background-repeat: no-repeat;
  background-position: 0px -0px; }

.its-working {
  background-image: url("../images/ship_background/its_working.webp");
  background-repeat: no-repeat;
  background-position: 0px -50px; }
